extends layout

block content 
  h1.main-title #{title}
  a(href="/")#drinks-image
    img(src="/images/food.svg")
  #tree
    include tree
  h3.subtitle Alkoholos
  ul
    li Sör
    li Fehérbor
    li Vörösbor
    li Gintonic
  h3.subtitle Alkoholmentes
  ul
    li Víz 
    li Gyümölcslé