extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 Előételek
  ul 
    li Garnélakosárka
    li Hidegtál
  h3 Leves
  ul 
    li Zellerkrémleves
    li Fácánleves
  h3 Főétel
  ul 
    li Steak 
    li Sertésszűzérme 
    li Tempurált harcsaszeletek
  h3 Köret
  ul 
    li Krumplimüré
    li Zöldbab
    
