extends layout

block content
  h1.main-title #{title}
  a(href="/drinks")#drinks-image
    img(src="/images/wine-glass.svg")
  #tree
    include tree
  h3.subtitle Előételek
  ul 
    li Garnélakosárka
    li Hidegtál
  h3.subtitle Leves
  ul 
    li Zellerkrémleves
    li Fácánleves
  h3.subtitle Főétel
  ul 
    li Steak 
    li Sertésszűzérme 
    li Tempurált harcsaszeletek
  h3.subtitle Köret
  ul 
    li Krumplimüré
    li Zöldbab
    
