extends layout

block content
  h1.main-title #{title}
  a(href="/drinks")#drinks-image
    img(src="/images/wine-glass.svg")
  #tree
    include tree
  h3.subtitle Előételek
  ul 
    li Brie-rukkola-körte nyárs balzsamecettel
    li Sajtos pogácsa
    li Mini falat nyárs
    li Garnéla kosárka
    li Velős csont (fokhagyma, torma, baguette)
  h3.subtitle Leves
  ul 
    li Zellerkrémleves pirított kockával
    li Fácán leves
  h3.subtitle Főétel
  ul 
    li Grillezett kecskesajt
    li Wellington bélszín
    li Sertésszűzérme
    li Tempurált harcsa szeletek
    li Sertés szűzpecsenye
  h3.subtitle Köret
  ul 
    li Krumplimüré
    li Vajon készült zöldbab
    li Körtés saláta
    li Forralt boros meggyszósz
    li Sütőtökös rizottó
  h3.subtitle Desszert
  ul
    li Mákosguba szelet 
    li Málnás fehércsokis szelet 
    li Gesztenyés kifli
    
