.container
  .tree
    .tree-triangle1
    .tree-triangle2
    .tree-triangle3
    .ornament.or1
      .shine
    .ornament.or2
      .shine
    .ornament.or3
      .shine
    .ornament.or4
      .shine
    .ornament.or5
      .shine
    .ornament.or6
      .shine
    .trunk
    .star-light
    .star
    .star-highlight
