@font-face {
  font-family: ItalianoRegular;
  src: url("/fonts/Italianno-Regular.ttf") format('truetype');
}

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: Georgia, serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

a {
  color: #00B7FF;
}

.text-content{
  padding: 5rem;
  color: white;
  font-size: 4rem;
  text-shadow: -3px 3px 8px black;

}

.background{
  background: url("/images/christmas-background.jpeg");
  position: fixed;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-size: 9rem;
  z-index: -1000;
  filter: blur(1.5px);
}

.main-title{
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 14rem;
}

.subtitle{
  margin-bottom: 0;
}

ul{
  margin: 0;
}

#tree{
  position: absolute;
  z-index: -2;
  top: 18rem;
  right: 3rem;
}

#drinks-image{
  position: fixed;
  width: 15rem;
  bottom: 0;
  right: 2rem;
  opacity: 90%;
}

li{
  list-style-image: url("/images/sugar.svg");
}

#separator{
  display: block;
  height: 400px;
}